.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding-top: 100px;
}

a {
    padding: 10px 20px;
    background: #09c;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a:first-child {
    background: black;
}

/* same concept with last-child */
/* there is also nth-child(#) */

a:nth-child(even) {
    background: yellow;
}

a:nth-child(n + 2) {
    background: purple;
}
/* second child and forward coloring it purple */