.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding-top: 100px;
}

a {
    padding: 10px 20px;
    background: #09c;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    line-height: 60px;
}

a + a {
    color: red;
}
/* any a that's a sibling of the other gets coloured red */

a ~ span {
    color:green;
}
/* a general sibling will be colored green */

a > span {
    color: yellow;
}
/* only the direct child of an a tag gets yellow */