.main,.secondary, .third {
    float: left;
}

.main {
    width: 33%;
    margin-right: 20px;
}

.secondary {
    width: calc(33% - 20px);
    margin-right: 20px;
}

.third {
    width: calc(33% - 20px);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* tablet view */

@media screen and (max-width: 900px) {

    .main {
        width: 100%;
        background-color: lightcoral;
    }
    .secondary {
        width: 50%;
        margin-right: 16px;
        background-color: lightcoral;
    }
    .third {
        width: calc(50% - 16px);
        background-color: lightcoral;
    }
}

/* mobile view */

@media screen and (max-width: 600px) {
    .main,
    .secondary,
    .third {
        width: 100%;
        background-color: aquamarine;
    }
}
