body {
    background-color:black;
}
h1, p {
    font-family: sans-serif;
}

.box1 {
    background: #0086e0;
    padding: 50px;
}

.box2 {
    background: white;
    padding: 50px;
}

.box3 {
    background:#222222;
    padding: 50px;
    color: white;
}